NEXT_PUBLIC_AVATAR_URL=
NEXT_PUBLIC_AVATAR_WIDTH=
NEXT_PUBLIC_AVATAR_HEIGHT=
NEXT_PUBLIC_MY_EMAIL=
NEXT_PUBLIC_MY_GITHUB=
NEXT_PUBLIC_MY_CODEBERG=
NEXT_PUBLIC_MY_FACEBOOK=
NEXT_PUBLIC_MY_ZALO_APP_URL=
NEXT_PUBLIC_MY_ZALO_QR_URL=
NEXT_PUBLIC_MY_LINKEDIN=
NEXT_PUBLIC_MY_EN_CV=
NEXT_PUBLIC_MY_VI_CV=

RESEND_API_KEY=
RESEND_EMAIL_FROM=
