@import "tailwindcss";
@import "@heroui/styles";

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@layer base {
  h1 {
    @apply text-2xl font-bold tracking-tight text-foreground sm:text-3xl lg:text-4xl;
  }
  h2 {
    @apply text-xl font-semibold tracking-tight text-foreground sm:text-2xl lg:text-3xl;
  }
  p {
    @apply text-lg text-balance text-muted;
  }
}

@layer utilities {
  .glassmorphism {
    @apply border border-solid border-foreground/25 bg-background/50 shadow-lg backdrop-blur-lg;
  }
}
